@model RousincaShop.Admin.Models.ProductDetailDto

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ProductName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ProductName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ProductDescription)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Created)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Created)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SizeScale)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SizeScale.Id)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-sm-6">
            @await Component.InvokeAsync("ProductColors", new { productId = Model.Id });

            <div>
                <div>Sku</div>
                <div>
                    @foreach (var item in Model.SkusDtos)
                    {
                        <span>
                            @item.Upc
                            <br />@item.SizeCode
                            <br />@item.SizeIndex
                        </span>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
